<footer class="bg-gray-200">
  <div class="flex justify-around container mx-auto p-4">
    <section class="max-w-lg">
      <h2 class="text-2xl font-bold text-sky-600">Sobre</h2>
      <p class="text-gray-700 text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia facere illo, exercitationem ratione, laboriosam
        ipsa libero voluptas ducimus quidem quasi sunt. Incidunt ab ut perspiciatis iure harum laborum ullam labore?</p>
    </section>
    <address>
      <h2 class="text-2xl font-bold text-sky-600">Contatos</h2>

      <ul class="space-y text-gray-700">
        <li class="flex items-center gap-2"><i class="text-2xl text-orange-500 ph ph-envelope"></i> computers@store.com</li>
        <li class="flex items-center gap-2"><i class="text-2xl text-orange-500 ph ph-phone"></i> (00) 91234-5678</li>
        <li class="flex items-center gap-2"><i class="text-2xl text-orange-500 ph ph-whatsapp-logo"></i> (00) 91234-5678</li>
      </ul>
    </address>
  </div>
  <section class="text-center p-3 bg-gray-100">
    &copy; Todos os diretos reservados
  </section>
</footer>
