<header class="w-full bg-white shadow-sm">
  <div class="container mx-auto flex justify-between py-3">

    <h1 class="text-3xl font-bold text-sky-700 flex items-center ">
      <i class="ph ph-desktop mr-2"></i>
      Computers
      <span class="text-orange-500">Store</span>
    </h1>

    <div class="flex items-center justify-end flex-wrap gap-6">

      <nav>
        <ul class="flex items-center gap-4 text-lg ">
          <li><a href="" class="hover:text-sky-400">Produtos</a></li>
          <li><a href="" class="flex items-center gap-1 hover:text-sky-400">
              <i class="ph-bold ph-shopping-cart"></i>
              Carrinho
              <span class="w-7 h-7 flex items-end justify-center bg-sky-500 text-stone-900 rounded-full">0</span>
            </a></li>
          <li><a href="" class="hover:text-sky-400">Contato</a></li>
          <li><a href="" class="hover:text-sky-400"><i class="text-2xl ph-fill ph-facebook-logo"></i></a></li>
          <li><a href="" class="hover:text-sky-400"><i class="text-2xl ph-fill ph-instagram-logo"></i></a></li>
          <li><a href="" class="hover:text-sky-400"><i class="text-2xl ph-fill ph-twitter-logo"></i></a></li>
          <li><a href="" class="hover:text-sky-400"><i class="text-2xl ph-fill ph-linkedin-logo"></i></a></li>
        </ul>
      </nav>

      <form class="flex istems-center rounded-lg overflow-hidden">
        <input type="search" name="search" placeholder="Buscar..." class="bg-gray-300 py-2 px-4 ">
        <button title="Buscar" class="bg-sky-700 py-2 px-3 text-lg text-gray-50">
          <i class="ph ph-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</header>
