<section class="flex justify-center pt-6">
  <div class="max-w-xl">
    <img src="/assets/images/laptop-2.jpg" alt="Laptop legal">
  </div>

  <div class="ml-20 pt-2">
    <h1 class="text-4xl font-bold mb-3 text-sky-800">Laptop Bem bom</h1>
    <strong class="text-3xl font-medium my-6 block ">R$ 12000.00</strong>

    <p class="text-gray-700">Estoque disponível:</p>
    <label class="block my-2 text-lg">
      Quantidade
      <input class="max-w-[48px] mx-1 rounded border border-gray-200 p-1" type="number" name="product-quantity">
      unidade (s)
    </label>

    <span class="block text-sky-700">10 unidades em estoque</span>

    <button type="button" class="w-full flex justify-center items-center gap-2 text-lg bg-blue-600 hover:bg-blue-700 text-gray-100 px-4 py-2 mt-8 rounded transition duration-150" title="Voltar para Home">
      Adicionar ao carrinho
      <i class="ph-fill ph-shopping-cart"></i>
  </button>
  </div>
</section>
